
::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #707070;
  -webkit-border-radius: 4px;
}

::-webkit-scrollbar-track-piece {
  background-color: #f4f4f4;
  -webkit-border-radius: 0
}

::-webkit-scrollbar-track-piece {
  background-color: #fff;
  -webkit-border-radius: 0
}